<div class="container">
<<<<<<< HEAD
  <h1 class="page-title text-center">GALLERY</h1>
  <div id="gallery" style="display:none;">

    <%= link_to "something", "http://unitegallery.ne", :target => "_blank" %>
    <%= image_tag('merch.jpg', :class => 'margin-bottom', :alt => 'rail-jam', :'data-image_attr' => 'merch.jpg', :'data-description_attr' => 'merch.jpg') %>
   <!--  <img alt="Lemon Slice"
         src="images/thumbs/tile1.jpg"
         data-image="images/big/tile1.jpg"
         data-description="This is a Lemon Slice"
         style="display:none">
    </a> -->
  
  </div>
  
  

=======
  <h1 class="text-center">GALLERY</h1>
  <div class="row">
    <div class="col-xs-12 col-md-3 boxes-bottom"><%= image_tag('pic3.jpg', :class => 'img-thumbnail') %></div>
    <div class="col-xs-12 col-md-3 boxes-bottom"><%= image_tag('pic2.jpg', :class => 'img-thumbnail') %></div>
    <div class="col-xs-12 col-md-3 boxes-bottom"><%= image_tag('pic3.jpg', :class => 'img-thumbnail') %></div>
    <div class="col-xs-12 col-md-3 boxes-bottom"><%= image_tag('pic4.jpg', :class => 'img-thumbnail') %></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-3 boxes-bottom"><%= image_tag('pic3.jpg', :class => 'img-thumbnail') %></div>
    <div class="col-xs-12 col-md-3 boxes-bottom"><%= image_tag('pic2.jpg', :class => 'img-thumbnail') %></div>
    <div class="col-xs-12 col-md-3 boxes-bottom"><%= image_tag('pic3.jpg', :class => 'img-thumbnail') %></div>
    <div class="col-xs-12 col-md-3 boxes-bottom"><%= image_tag('pic4.jpg', :class => 'img-thumbnail') %></div>
  </div>
   <div class="row">
    <div class="col-xs-12 col-md-3 boxes-bottom"><%= image_tag('pic3.jpg', :class => 'img-thumbnail') %></div>
    <div class="col-xs-12 col-md-3 boxes-bottom"><%= image_tag('pic2.jpg', :class => 'img-thumbnail') %></div>
    <div class="col-xs-12 col-md-3 boxes-bottom"><%= image_tag('pic3.jpg', :class => 'img-thumbnail') %></div>
    <div class="col-xs-12 col-md-3 boxes-bottom"><%= image_tag('pic4.jpg', :class => 'img-thumbnail') %></div>
  </div>
   <div class="row">
    <div class="col-xs-12 col-md-3 boxes-bottom"><%= image_tag('pic3.jpg', :class => 'img-thumbnail') %></div>
    <div class="col-xs-12 col-md-3 boxes-bottom"><%= image_tag('pic2.jpg', :class => 'img-thumbnail') %></div>
    <div class="col-xs-12 col-md-3 boxes-bottom"><%= image_tag('pic3.jpg', :class => 'img-thumbnail') %></div>
    <div class="col-xs-12 col-md-3 boxes-bottom"><%= image_tag('pic4.jpg', :class => 'img-thumbnail') %></div>
  </div>
>>>>>>> dba9a946f044de86e2d61a17f1e7233c3894b6b6
  
</div>