<div id="container">
  <header class="header text-center" role="banner">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li> -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <%= link_to image_tag("minus-zero-festival-logo.png",alt: "Minus Zero Festival"),
            'http://minuszerofestival.com/', :id => "logo" %>
  </header>
  <div class="leader">
    <h2 class="text-center">STRATTON MOUNTAIN, VT</h2>
    <h2 class="text-center">APRIL 7th - 8th, 2017</h2>
  </div>
  <div class="splash">
    <div id="signpost">
      <div class="city">
        <div class="city-inner one">
          <h1>YEAR 2 TICKETS</h1>
          <h3 class="location">ON SALE FRIDAY, DECEMBER 9TH!</h3>
          <h3 class="dates"></h3>
          <%= link_to "Buy Tickets Here", "https://minuszero.frontgatetickets.com/", :target => "_blank", :class => "button btn-primary" %>
        </div>
      </div>
      <div class="city">
        <div class="city-inner two">
          <h1>Minus Zero Store</h1>
          <h3 class="location"></h3>
          <h3 class="dates"></h3>
          <%= link_to "Available Here", "http://merch.minuszerofestival.com/", :target => "_blank", :class => "button btn-primary" %>
        </div>
      </div>
      <div class="city">
        <div class="city-inner one">
          <h1>Connect With Us</h1>
            <ul class="social list-inline">
              <li>
                <%= link_to "https://www.facebook.com/minuszerofest/" do %>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                <% end %>
              </li>
              <li>
                <%= link_to "https://twitter.com/minuszerofest" do %>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                <% end %>
              </li>
              <li>
                <%= link_to "https://www.instagram.com/minuszerofest/" do %>
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                <% end %>
              </li>
              <li>
                <%= link_to "https://www.youtube.com/watch?v=A3Ur0YZzslw&feature=youtu.be" do %>
                  <i class="fa fa-youtube" aria-hidden="true"></i>
                <% end %>
              </li>
            </ul>
        </div>
      </div>

    </div>
  </div>
</div>
