<div class="hero">
  <div class="link-cover">
    <div class="video-overlay hidden-xs visible-sm visible-md visible-lg"><%= image_tag('mzf-logo.png')%></div>
    <%= video_tag("/minus-zero.mp4", controls: false, :autoplay => true, :loop => true, :muted => true)%>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="lineup col-xs-12" style="margin-top: -3px;">
      <div class="link-cover">
        <h2 class="page-title text-center" style="font-size: 4em;">2017 HEADLINERS</h2>
        <br>
        <!-- <h3 class="title text-center">Bassnectar + Griz + Zeds Dead</h3> -->
        <br>
        <div class="col-xs-12">
          <p class="text-center">
            <%= link_to "FULL LINE UP HERE!", lineup_path, :class => "btn btn-default" %>
          </p>
        </div>
      </div>
    </div>
    <div class="merch col-xs-12">
      <div class="link-cover">
        <div class="headers">
          <h2 class="page-title text-center" style="font-size: 4em;">MINUS ZERO MERCH</h2>
        <br>
        </div>
        <br>
        <p class="text-center"><%= link_to "GO!", "http://merch.minuszerofestival.com/", :target => "_blank", :class => 'btn btn-default' %>
        </p>
      </div>
    </div>
    <div class="stratton col-xs-12">
      <div class="link-cover">
        <div class="headers">
          <h2 class="page-title text-center" style="font-size: 4em;">STRATTON RESORT</h2>
        <br>
        </div>
        <br>
        <p class="text-center"><%= link_to "LEARN MORE!", "http://merch.minuszerofestival.com/", :target => "_blank", :class => 'btn btn-default' %>
        </p>
      </div>
    </div>
  </div>
</div><!-- container -->


   
<div class="modal fade" id="initialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog vertical-align-center" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center title" id="myModalLabel">STAY UP TO DATE WITH MINUS ZERO!</h4>
        <p class="text-center">Get first dibs on exclusive deals and offerings.</p>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <!-- <label for="recipient-name" class="control-label">Email:</label> -->
            <input type="email" class="form-control" id="emailModal" placeholder="Enter your email address here!">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-default" id="btnModal" onclick="createModalEmail();">SUBSCRIBE NOW!</button>
      </div>
    </div>
  </div>
</div>    
    
<script>
    $( document ).ready(function() {
        setTimeout(function(){ loadPopUp(); }, 5000);
    });
</script>