<div class="hero">
  <div class="link-cover">
    <div class="video-overlay hidden-xs visible-sm visible-md visible-lg"><%= image_tag('mzf-logo.png')%></div>
    <%= video_tag("/minus-zero.mp4", controls: false, :autoplay => true, :loop => true, :muted => true)%>
  </div>
</div>
<div class="container-fluid" style="margin-top:-5px;">
  <div class="row">
    <div class="col-xs-12 col-md-6 lineup outline">
      <div class="link-cover">
        <h2 class="page-title text-center">HEADLINERS</h2>
        <h3 class="title text-center">Bassnectar + Griz + Zeds Dead</h3>
        <br>
        <div class="col-xs-12">
          <p class="text-center">
            <%= link_to "FULL LINE UP HERE!", lineup_path, :class => "btn btn-default" %>
          </p>
        </div>
    </div>
  </div><!-- display -->
    <div class="col-xs-12 col-md-6">
      <div class="row">
        <div class="col-xs-12 vip-tickets outline">
          <div class="link-cover">
            <h2 class="title text-center">VIP TICKETS AVAILABLE</h2>
            <p class="text-center">
              <%= link_to "TICKETS", tickets_path, :class => "btn btn-default" %>
            </p>
          </div>
        </div><!-- display -->
        <div class="col-xs-12 ga-tickets outline">
          <div class="link-cover">
            <h2 class="title text-center">GA TICKETS AVAILABLE</h2>
            <p class="text-center">
              <%= link_to "TICKETS", tickets_path, :class => "btn btn-default" %>
            </p>
          </div>
        </div><!-- display -->
      </div><!-- row -->
    </div><!-- display -->
  </div><!-- row -->
</div><!-- container -->
<div class="container-fluid">
  <div class="row">
    <div class="stratton col-xs-12 col-md-4">
      <div class="link-cover">
        <div class="headers">
          <h2 class="title text-center">Minus Zero Lodging</h2>
        </div>
        <p class="text-center"><%= link_to "LEARN MORE!", lodging_path, :class => 'btn btn-default' %>
          
        </p>
      </div>
    </div>
    <div class="merch col-xs-12 col-md-4">
      <div class="link-cover">
        <div class="headers">
          <h2 class="title text-center">Minus Zero Merch</h2>
        </div>
        <p class="text-center"><%= link_to "STORE", "http://merch.minuszerofestival.com/", :target => "_blank", :class => 'btn btn-default' %>
        </p>
      </div>
    </div>
    <div class="railjam col-xs-12 col-md-4">
      <div class="link-cover">
        <div class="headers">
          <h2 class="title text-center">Rail Jam + Jump</h2>
        </div>
        <p class="text-center"><%= link_to "LEARN MORE!", rail_jam_path, :class => 'btn btn-default' %>
        </p>
      </div>
    </div>
  </div>
</div>
   
<div class="modal fade" id="initialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog vertical-align-center" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center title" id="myModalLabel">STAY UP TO DATE WITH MINUS ZERO!</h4>
        <p class="text-center">Get first dibs on exclusive deals and offerings.</p>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <!-- <label for="recipient-name" class="control-label">Email:</label> -->
            <input type="email" class="form-control" id="emailModal" placeholder="Enter your email address here!">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-default" id="btnModal" onclick="createModalEmail();">SUBSCRIBE NOW!</button>
      </div>
    </div>
  </div>
</div>    
    
<script>
    $( document ).ready(function() {
        setTimeout(function(){ loadPopUp(); }, 5000);
    });
</script>