<div class="jumbotron">
  <video controls>
    <%= video_tag("minus-zero-video.mp4", :size => "320x240", :controls => true, :autobuffer => true) %>
  </video>
</div>
<div id="container">
  <header class="header text-center" role="banner">
    <%= link_to image_tag("minus-zero-festival-logo.png",alt: "Minus Zero Festival"),
            'http://minuszerofestival.com/', :id => "logo" %>
  </header>
  <div class="leader">
    <h2 class="text-center">STRATTON MOUNTAIN, VT</h2>
    <h2 class="text-center">APRIL 7th - 8th, 2017</h2>
  </div>
  <div class="splash">
    <div id="signpost">
      <div class="city">
        <div class="city-inner one">
          <h1>YEAR 2 TICKETS</h1>
          <h3 class="location">ON SALE FRIDAY, DECEMBER 9TH!</h3>
          <h3 class="dates"></h3>
          <%= link_to "Buy Tickets Here", "https://minuszero.frontgatetickets.com/", :target => "_blank", :class => "button btn-primary" %>
        </div>
      </div>
      <div class="city">
        <div class="city-inner two">
          <h1>Minus Zero Store</h1>
          <h3 class="location"></h3>
          <h3 class="dates"></h3>
          <%= link_to "Available Here", "http://merch.minuszerofestival.com/", :target => "_blank", :class => "button btn-primary" %>
        </div>
      </div>
      <div class="city">
        <div class="city-inner one">
          <h1>Connect With Us</h1>
          <ul class="social list-inline">
            <li>
              <%= link_to "https://www.facebook.com/minuszerofest/", :target => "_blank" do %>
                <i class="fa fa-facebook" aria-hidden="true"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://twitter.com/minuszerofest", :target => "_blank" do %>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://www.instagram.com/minuszerofest/", :target => "_blank" do %>
                <i class="fa fa-instagram" aria-hidden="true"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "https://www.youtube.com/watch?v=A3Ur0YZzslw&feature=youtu.be", :target => "_blank" do %>
                <i class="fa fa-youtube" aria-hidden="true"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
