<div id="container">
  <header class="header text-center" role="banner">
    <%= link_to image_tag("minus-zero-festival-logo.png",alt: "Minus Zero Festival"),
            'http://minuszerofestival.com/', :id => "logo" %>
  </header>
  <div class="splash">
    <div id="signpost">
      <div class="city">
        <div class="city-inner one">
          <h1>Vermont</h1>
          <h3 class="location">STRATTON MOUNTAIN RESORT</h3>
          <h3 class="dates">APR 7 + 8, 2017</h3>
          <%= link_to "More Info Coming Soon", "http://www.facebook.com/minuszerofest/", :target => "_blank", :class => "button btn-primary" %>
        </div>
      </div>
      <div class="city">
        <div class="city-inner two">
          <h1>Minus Zero Store</h1>
          <h3 class="location"></h3>
          <h3 class="dates"></h3>
          <%= link_to "Available Here", "http://merch.minuszerofestival.com/", :target => "_blank", :class => "button btn-primary" %>
        </div>
      </div>
      <div class="city">
        <div class="city-inner one">
          <h1>Connect With Us</h1>
            <ul class="social list-inline">
              <li>
                <%= link_to "https://www.facebook.com/minuszerofest/" do %>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                <% end %>
              </li>
              <li>
                <%= link_to "https://twitter.com/minuszerofest" do %>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                <% end %>
              </li>
              <li>
                <%= link_to "https://www.instagram.com/minuszerofest/" do %>
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                <% end %>
              </li>
              <li>
                <%= link_to "https://www.youtube.com/watch?v=X89mIHLsUmk" do %>
                  <i class="fa fa-youtube" aria-hidden="true"></i>
                <% end %>
              </li>
            </ul>
        </div>
      </div>

    </div>
  </div>
</div>
