<div class="lodging container">
	<div class="stratton-lodging col-xs-12">
		<h2 class="title text-center">Official Lodging</h2>
		<div class="row">
			<div class="col-xs-12 col-md-3" style="padding-bottom: 15px;">
				<%= image_tag('stratton-logo.png') %>
			</div>
			<div class="col-xs-12 col-md-9">
				<div class="info">
					<p>
Stay at one of Stratton Mountain Resort’s awesome, diverse lodging options and be just a short walk away from the heart of the festival. Rooms, condos and townhouses are all going fast-  book today to secure your spot!</p>
				</div>
			</div>
		</div>
		<div class="hotel-images">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<%= image_tag('black-bear-lodge.jpg', :class => 'img-thumbnail') %>
				</div>
				<div class="col-xs-12 col-md-4">
					<%= image_tag('long-trail-lodge.jpg', :class => 'img-thumbnail') %>
				</div>
				<div class="col-xs-12 col-md-4">
					<%= image_tag('liftline-lodge.jpg', :class => 'img-thumbnail') %>
				</div>
			</div>
		</div>
		<p class="text-center"><%= link_to "MORE INFO", "https://www.stratton.com/plan-your-trip/lodging", :class => 'btn btn-default', :target => "_blank" %></p>
	</div>
	<div class="off-mountain col-xs-12">
		<h2 class="title text-center">Off Mountain Lodging</h2>
		<div class="row">
			<div class="col-xs-12 col-md-3" style="padding-bottom: 15px;">
				<%= image_tag('taconic-logo.png') %>
			</div>
			<div class="col-xs-12 col-md-9">
				<div class="info">
					<p>Kimpton Taconic is Southern Vermont’s newest upscale boutique hotel, located 18 miles from Stratton. Onsite restaurant and bar, The Copper Grouse, is a Manchester hot spot with farm to fork cuisine, craft cocktails, in a casual and contemporary setting. Dinner is served nightly, and Brunch is served on Saturday and Sunday.</p>
					<p>Within walking distance of Taconic guests can enjoy additional restaurants and bars, shopping, art galleries, and ample Vermont outdoor adventure.</p>
				</div>
			</div>
		</div>
		<div class="hotel-images">
			<div class="row">
				<div class="col-xs-4">
					<%= image_tag('taconic-hotel-1.jpg', :class => 'img-thumbnail') %>
				</div>
				<div class="col-xs-4">
					<%= image_tag('taconic-hotel-2.jpg', :class => 'img-thumbnail') %>
				</div>
				<div class="col-xs-4">
					<%= image_tag('taconic-hotel-3.jpg', :class => 'img-thumbnail') %>
				</div>
			</div>
		</div>
		<ul class="list-unstyled list-inline text-center">
			<li>
				<p class="text-center"><%= link_to "MORE INFO", "http://taconichotel.com", :class => 'btn btn-default', :target => "_blank" %></p>
			</li>
			<li>
				<p class="text-center"><%= link_to "BOOK A ROOM", "http://bit.ly/2MinusZeroFestivalTaconic", :class => 'btn btn-default', :target => "_blank" %></p>
			</li>
			
		</ul>
		
	</div>
</div>