<div class="container">
<br>
  <div class="col-xs-12">
    <h1 class="lineup-header padding-top text-center yellow">Rail Jam + Jump</h1>
  </div>
    <div class="jam-info col-xs-12">
      <p class="title text-center blue">Saturday, April 8th from 9am - 2:30pm</p>
      <div class="row">
          <div class="col-xs-12 col-md-7">
            <div class="row">
              <div class="col-md-8 col-xs-12"><%= image_tag('railjam.jpg', :class => 'margin-bottom') %></div>
              <div class="col-md-4 col-xs-12">
                <%= image_tag('rail-jam-a.jpg', :class => 'margin-bottom') %>
                <%= image_tag('rail-jam-b.jpg') %>
              </div>
            </div>
            
            <p class="text-center"><%= image_tag('rail-jam.png', :class => 'image-padding') %></p>
          </div>
        <div class="col-xs-12 col-md-5">
          <p>Join Minus Zero in the most unique Rail Jam &amp; Jump ever, fueled by Monster Energy at Stratton Mountain Resort.</p> 
          <p>This is an on-mountain competition featuring a big air jump and many rails for more advanced riders.</p>
          <p>There are 150 spots in the qualifying rounds which will take place from 9:00 am to 11:00 am (EST); the top 30 riders will advance to the finals which will take place from 12:00 pm to 2:00 pm (EST). ALL FINALISTS RECEIVE MINUS ZERO FESTIVAL TICKET FOR SAT. 4/8!</p>
          <p><strong>Bonus:</strong> Special demonstration from professional athletes showing us their best jibbing and jumps immediately following the competition.</p>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What is the price?
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <p>$50.00 Race Fee + $3.00 SignUp Fee.</p>
            </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                When does registration end?
              </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <p>Registration ends April 1, 2017 at 12:00am EDT.</p>
            </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              How does the event work?
              </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">    
              <p>The top 15 amateurs, and top 15 pros move onto the finals from 12-2pm and compete for 1st, 2nd, 3rd cash purse.</p>
            </div>
        </div>
      </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          What are the prizes?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          <p>Cash payout for amateurs:</p> 
          <ul>
              <li>1st place $1,500</li>
              <li>2nd place $750</li>
              <li>3rd place $250</li>
          </ul>
          <p>Cash payout for pros:</p>
          <ul>
              <li>1st place $2,750</li>
              <li>2nd place $1,500</li>
              <li>3rd place $500</li>
          </ul>
        </div>
    </div>
  </div>
  <br>
  <p class="font text-center blue">Want to participate?</p>
    <%= link_to "REGISTER HERE!", "https://runsignup.com/Race/Register/?raceId=44731#register", :target => "_blank", :class => "btn btn-default btn-block" %>
</div>

        
      </div>
    </div>
  </div>
  </div>

<div>
  <h2 class="title text-center" style="margin-top: 15px;">Star-studded Lineup</h2>
</div>
<div class="container">
  <div class="professionals">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <%= image_tag('nate-haust.jpg') %>
        <h4>Nate Haust</h4>
        <p>Nate Haust hails from Richmond, MA and is a force to be reckoned with when it comes to any competition involving rails and jumps. He’s won the last two Vermont Red Bull All Snow events as well as the Vermont Open rail jam. Watch out for his steezy arsenal of maneuvers he pulls on his snowboard. Nate’s sponsors include Burton Snowboards, Skullcandy, Electric California, Shire Fit &amp; Co, GardenMA, Tite, and CTF.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <%= image_tag('jeremy-ellenberg.jpg') %>
        <h4>Jeremy Ellenberge</h4>
        <p>Jeremy Ellenberg is a 19-year-old professional snowboarder who rides for K2 Snowboards, Electric, Snuglife Apparel, Carinthia Parks, and ASTC (American Snowboard Training Center). He’s constantly travelling all over the East and West coasts during the winter, showcasing his skills in competitions. Snowboarding is his greatest passion and will forever be a part of him.</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <%= image_tag('jacques-esmond.jpg') %>
        <h4>Jacques-Olivier Emond </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque quo commodi cumque dolores fugiat fuga obcaecati adipisci repellat nemo nisi error at reprehenderit repellendus beatae ducimus similique ex, eveniet?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <%= image_tag('jeremy-coultier.jpg') %>
        <h4>Jeremy Cloutier</h4>
        <p>Jeremy Cloutier is one of the hardest working pro athletes in the snowboarding industry and has made a name for himself not only by doing well and winning many of the biggest snowboarding competitions around (including Shakedown three times as well as the US Open rail jam) but also consistently putting out ground-breaking video parts in Brothers Factory snowboarding movies. He’s been a household name in snowboarding circles for many years and represents the best and most true aspects of the sport. This Québec native is known for pulling huge tricks with classic style. He rides for Technine, Zeal Optics, Axis Boardshop, Sommet St-Sauveur, and North45.</p>
      </div>
      <!-- <div class="col-xs-12 col-md-4">
        <%= image_tag('jeremy-ellenberg.jpg') %>
        <h4>Jeremy Ellenberge</h4>
        <p>Jeremy Ellenberg is a 19-year-old professional snowboarder who rides for K2 Snowboards, Electric, Snuglife Apparel, Carinthia Parks, and ASTC (American Snowboard Training Center). He’s constantly travelling all over the East and West coasts during the winter, showcasing his skills in competitions. Snowboarding is his greatest passion and will forever be a part of him.</p>
      </div> -->
    </div>
  </div>
</div>
  


  <br>
  <div class="col-xs-12">
    <h2 class="title text-center margin-top">Presented by</h2>
  </div>
  <div class="sponsors">
    <!-- <div class="row">
      <div class="col-xs-4"><%= image_tag('minus-zero-festival-logo-new.png', :class => 'image-size') %></div>
      <div class="col-xs-4"><%= image_tag('monster-logo.png', :class => 'image-size-two') %></div>
      <div class="col-xs-4">><%= image_tag('stratton-logo.png', :class => 'image-size-three') %></div>
    </div> -->
    <ul class="list-unstyled list-inline text-center">
      <li><%= image_tag('minus-zero-festival-logo-new.png', :class => 'image-size') %></li>
      <li><%= image_tag('monster-logo.png', :class => 'image-size-two') %></li>
      <li><%= image_tag('stratton-logo.png', :class => 'image-size-three') %></li>
    </ul>
  </div>
  
  <!-- <h2 class="title text-center">Star-studded Lineup</h2>
<div class="professionals">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= image_tag('stratton.jpg', :class => 'margin-bottom') %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque quo commodi cumque dolores fugiat fuga obcaecati adipisci repellat nemo nisi error at reprehenderit repellendus beatae ducimus similique ex, eveniet?</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= image_tag('stratton.jpg', :class => 'margin-bottom') %>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque quo commodi cumque dolores fugiat fuga obcaecati adipisci repellat nemo nisi error at reprehenderit repellendus beatae ducimus similique ex, eveniet?</p>
      </div>
    </div>
  </div>
</div> -->