
<div class="container">
	<h1 class="page-title text-center">Shuttle Service</h1>
	<div class="col-md-2 col-md-offset-5">
		<%= image_tag('shuttle-icon.png') %>
	</div>
	<div class="col-xs-12">
		<h2 class="title text-center">Important!</h2>
	</div>
	<div class="col-xs-12 important">
		<p class="text-center"><strong>All shuttle passess are round trip.</strong></p>
		<p class="text-center"><strong>All shuttle passess must be purchased beforehand, no day of spots will be available!</strong></p>
		<p class="text-center"><strong>Please arrive 15 minutes prior to departure time to insure proper boarding and check-in.  We will send you an email with more info shortly after purchase. Already bought your passess? Expect an email from us soon!</strong></p>
	</div>
	<div class="col-xs-12">
		<h2 class="title text-center">Boston , MA</h2>
	</div>
	<div class="col-xs-12 col-md-12 shuttle-left">
		<div class="row">
			<div class="overflow col-xs-12 col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.552610942532!2d-71.0573464487978!3d42.35206094349678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e37081fd16d52f%3A0x80a07ac3ebbfb77c!2sSouth+Station+Boston!5e0!3m2!1sen!2sus!4v1489000530334" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
				</iframe>
			</div>
			<div class="col-xs-12 col-md-6">
				<h2 class="title blue text-center">April 7th</h2>
				<ul class="list-unstyle">
					<li>South Station, 216 Summer Street at the corner of Atlantic Ave (connecting to Red Line, Silver Line and Commuter Rail service)  @ 8:30am.</li>
					<li>Copley Square, 115 St James Ave by Trinity Church (connecting with Green Line and Orange Line service) @ 8:45am</li>
					<li>Riverside MBTA Station, connecting with Green Line service @ 9:15am</li>
				</ul>

				<h2 class="title blue text-center">April 9th</h2>
				<p>Shuttle departs for Riverside MBTA Station, Copley Square and South Station @ 1PM</p>
				<br>
				<%= link_to "GA TICKETS + SHUTTLE", "https://minuszero.frontgatetickets.com/event/dn08nm7e4c4sbg2h", :target => "_blank", :class => "btn btn-default btn-block" %>
				<%= link_to "VIP TICKETS + SHUTTLE", "https://minuszero.frontgatetickets.com/event/f4otryr1yhajlca4", :target => "_blank", :class => "btn btn-default btn-block" %>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<h2 class="title text-center">Manhattan, NY</h2>
	</div>
	<div class="col-xs-12 col-md-12 shuttle-right">
		<div class="row">
			<div class="overflow col-xs-12 col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4274.622679434287!2d-73.98119339989587!3d40.74850333773495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25903efe8709d%3A0x9de110629e34f9ac!2sE+40th+St%2C+New+York%2C+NY!5e0!3m2!1sen!2sus!4v1489003096439" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-xs-12 col-md-6">
				<h2 class="title blue text-center">April 7th</h2>
				<p>40th Street (Between 3rd and Lexington) at 9:00am  - Look for Hampton Jitney Bus Stop Sign</p>

				<h2 class="title blue text-center">April 9th</h2>
				<p>Shuttle to return to Manhattan to same stop leaving Stratton Mountain Resort at 1PM</p>
				<br>
				<%= link_to "GA TICKETS + SHUTTLE", "https://minuszero.frontgatetickets.com/event/dn08nm7e4c4sbg2h", :target => "_blank", :class => "btn btn-default btn-block" %>
				<%= link_to "VIP TICKETS + SHUTTLE", "https://minuszero.frontgatetickets.com/event/f4otryr1yhajlca4", :target => "_blank", :class => "btn btn-default btn-block" %>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<h2 class="title text-center">Manchester, VT</h2>
	</div>
	<div class="col-xs-12 col-md-12 shuttle-right">
		<div class="row">
			<div class="overflow col-xs-12 col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4274.622679434287!2d-73.98119339989587!3d40.74850333773495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25903efe8709d%3A0x9de110629e34f9ac!2sE+40th+St%2C+New+York%2C+NY!5e0!3m2!1sen!2sus!4v1489003096439" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="manchester col-xs-12 col-md-6">
				<p>Point to Point Service from town of Manchester to Resort.</p>
				<p>$25 per person.</p>
				<h2 class="title blue text-center">April 7th</h2>
				<ul class="list-unstyled">
					<li>4:00PM - Manchester to Resort</li>
					<li>6:30PM - Manchester to Resort</li>
					<li>12:15am - Resort to Manchester</li>
					<li>2:15am - Resort to Manchester</li>
				</ul>

				<h2 class="title blue text-center">April 9th</h2>
				<ul class="list-unstyled">
					<li>12:00pm - Manchester to Resort</li>
					<li>12:45pm - Resort to Manchester</li>
					<li>4:00pm - Manchester to Resort</li>
					<li>4:45pm - Resort to Manchester</li>
					<li>6:30pm - Manchester to Resort</li>
					<li>12:15am - Resort to Manchester</li>
					<li>2:15am - Resort to Manchester</li>
				</ul>
				<br>
				<%= link_to "GA TICKETS + SHUTTLE", "https://minuszero.frontgatetickets.com/event/dn08nm7e4c4sbg2h", :target => "_blank", :class => "btn btn-default btn-block" %>
				<%= link_to "VIP TICKETS + SHUTTLE", "https://minuszero.frontgatetickets.com/event/f4otryr1yhajlca4", :target => "_blank", :class => "btn btn-default btn-block" %>
			</div>
		</div>
	</div>
</div>
	    



	

	 