<footer id="footer">
  <div class="container-fluid">
    <ul class="list-unstyle list-inline text-center">
      <!-- <li><a href="">PARTNERS</a></li> -->
      <li class="top-bottom"><%= image_tag('kathy-ireland-logo.png') %></li>
      <li class="top-bottom"><%= image_tag('encore-endevor-one.png') %></li>
    </ul>
    <ul class="list-unstyle list-inline text-center">
      <!-- <li><a href="">PARTNERS</a></li> -->
      <!-- <li class="top-bottom"><%= image_tag('kathy-ireland-logo.png') %></li>
      <li class="top-bottom"><%= image_tag('encore-endevor-one.png') %></li> -->
      <li class="top-bottom"><%= link_to "CONTACT", contact_path %></li>
      <li class="top-bottom"><%= link_to "TERMS", terms_path %></li>
      <!-- <li><a href=""><%= link_to "FAQ", faq_path %></a></li> -->
      <li class="top-bottom"><small>&copy; WINTER MUSIC FESTIVALS LLC</small></li>
      <!-- <li class="top-bottom"><%#= image_tag('mz-logo-white.png') %></li> -->
    </ul>
    <!-- <div class="row">
      <div class="col-xs-12 col-md-4">
        <h6>LINKS</h6>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">Line Up</a></li>
          <li><a href="#">Lodging</a></li>
          <li><a href="#">Directions</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4">
        <h6>CONTACT</h6>  
        <ul class="list-unstyled">
          <li><a href="mailto:example@tutorialspark.com">info@minuszero.com </a></li>
          <li><a href="mailto:example@tutorialspark.com">sales@minuszero.com </a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-4">
        <h6>KEEP IN TOUCH</h6>
          <ul class="list-inline list-unstyled social-icons">
            <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
          </ul>
      </div> -->
    </div>
  </div>
</footer>